# Supabase Configuration
# Find these in your Supabase Dashboard -> Project Settings -> API
SUPABASE_URL=https://supabase.com/dashboard/project/szcgbcwgckynwmsrdv./\bz/sql/c965a1d5-c044-4cc2-969c-004e8297acd5
SUPABASE_KEY=sb_publishable_XsTI35mWedsLvhUtKftQaw_3_nuR6d8
